[submodule "linphone-cmake-builder"]
	path = linphone-cmake-builder
	url = git://git.linphone.org/linphone-cmake-builder.git

[submodule "tools"]
	path = tools
	url = git://github.com/raspberrypi/tools.git
